@using Microsoft.AspNet.Identity
@model DejtingSidan.Models.HomeViewModels
@using Microsoft.AspNet.Identity;
@{ ViewBag.Title = "Home Page"; }
@if (!Request.IsAuthenticated)
{
<div class="jumbotron">
    <h1>Hitta din lokala ghettobrud</h1>
    <p>@Html.ActionLink("Registrera Dig", "Register", "Account", null, new { @class = "btn btn-outline-primary" })</p>
    <p>@Html.ActionLink("Logga in", "Login", "Account", null, new { @class = "btn btn-outline-primary" })</p>
</div>}
@if (Request.IsAuthenticated)
{
<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "col-md-6" }))
    {
@Html.TextBox("Sök", null, new { @class = "col-md-6 align-middle", @placeholder = "Sök efter ghettobrudar..." })
                    <input type="submit" value="search" />}
</div>}

<div class="row">
    @for (int i = 0; i < Model.users.Count(); i++)
    {
<div class="col-md-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img-top" src="~/UploadedFiles/@Model.filePath.ElementAt(i)" alt="profile pic" />
            <h5 class="card-title">@Model.users.ElementAt(i).FirstName @Model.users.ElementAt(i).LastName</h5>
            <p class="card-text">@Model.users.ElementAt(i).Description</p>
            @Html.ActionLink("Profile", "Personal", "Account", new { Id = Model.users.ElementAt(i).Id }, new { @class = "btn btn-primary" })
            @if (Request.IsAuthenticated)
            {
                if (!Model.isFriends[i])
                {
@Html.ActionLink("Add", "AddFriend", "Home", new { id = Model.users.ElementAt(i).Id }, new { @class = "btn btn-success" })}
                }
        </div>
    </div>
</div>}
</div>

