@using Microsoft.AspNet.Identity;
@model DejtingSidan.Models.ProfileViewModel

@{
    ViewBag.Title = "PersonligLayout";
}

<div class="row">
    <div class="col-md-3 bg-dark ">
        <div class="card-body">
            <img cass="card-img-top" src="~/UploadedFiles/@Model.PicturePath" />
            <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
            <h4 class="card-title">Detta är jag</h4>
            <p class="card-text">@Model.Description</p>
            <h4 class="card-title">Från</h4>
            <p class="card-text">@Model.City</p>
            @if (!Model.isFriend)
            {
                @Html.ActionLink("Lägg Till", "AddFriend", "Account", new { id = Model.Id }, new { @class = "btn btn-success" })
            }
        </div>
    </div>

    <div class="col-md-9">
        @for (int i = 0; i < Model.
            
            Lista.Count; i++)
        {
            <div class="row card bg-light">
                <div class="card-body">
                    <h4 class="card-title">@Model.UsersPosted.ElementAt(i).FirstName @Model.UsersPosted.ElementAt(i).LastName</h4>
                    <p class="card-text" @Model.PostLista.ElementAt(i).Comment></p>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("Lägg till kommentar", "Account", new { profileId = Model.Id }, FormMethod.Post, new { @class = "form-horizon col-md-12", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Comment, new { @class = "col-md12 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control col-md-12" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-9">
                <input type="submit" class="btn btn-outline-primary" value="Lägg Till Kommentar" />
            </div>
        </div>
    }
</div>
